<ion-header>
    <ion-navbar>
        <ion-title *ngIf="!isSearching">Reddit Reader</ion-title>
        <ion-searchbar *ngIf="isSearching" [(ngModel)]="searchFilter" (ionInput)="search()" (ionCancel)="hideSearchBar()" placeholder="Title here..." [showCancelButton]=true>
        </ion-searchbar>
        <ion-buttons end *ngIf="!isSearching">
            <button ion-button icon-only (click)="showSearchBar()">
                <ion-icon name="search"></ion-icon>
            </button>
            <button ion-button icon-only (click)="filters()">
                <ion-icon name="funnel" [style.color]="hasFilter ? 'orange' : 'inherit'"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
        </ion-refresher-content>
    </ion-refresher>
    <ion-list>
        <button ion-item text-wrap *ngFor="let feed of feeds" (click)="open(feed.data.url)">
            <ion-thumbnail item-left>
                <img [src]="feed.data.thumbnail">
            </ion-thumbnail>
            <h2>{{feed.data.title}}</h2>
            <p>{{feed.data.domain}}</p>
        </button>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content loadingText="Loading more feeds...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>